<html>
<head>

<title>Socrates UK - Instant Code Wiki</title>
<link rel="stylesheet" type="text/css" href="/static/<%= version %>/bootstrap.css"/>
<link rel="shortcut icon" href="/static/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/<%= version %>/style.css"/>
<script type="text/javascript" src="/static/<%= version %>/lib/jquery-1.7.1.min.js">
</script>
<script type="text/javascript" src="/static/<%= version %>/lib/jquery.validate.min.js">
</script>

<script type="text/javascript">
var openApp = function(form){
	var team = "socratesuk";
	var user = $("#userNameText").val();
	if (user.length < 2){
		alert('Please type your username');
		return false;
	};
	var url = window.location.href + "/" + team + "/" + user;
	url = url.replace(/\/\//g, "/");
	url = url.replace("http:/", "http://");
	url = url.replace("https:/", "https://");
	url = url.replace(" ", "");
	window.location.href = url;
	return false;
};

$('document').ready(function(){
	$("#loginForm").validate({ submitHandler: openApp});
});

</script>


</head>
<body>

<div class="row">

<div class="hero-unit" style="height: 70%">
 <div style="float: left; width: 95%;">
  <h1>Instant Code Wiki</h1>
  <h2 style="margin-left: 10rem;">Socrates UK</h2>
 
	<div style="float:left; margin-left: 80px; margin-top: 20px;">
     <img src="http://socratesuk.org/img/SoCraTes_UK.png" width="300"/>
  </div>
  <div style="float: left; padding-top: 2rem; margin-left: 10rem; width: 50%;">
      <div style="display: block; width: 100%; font-size: 1rem;">
         Networking and collaboration tool to share code snippets instantly
      </div>
      <div>
      <form id="loginForm" method="get" action="">
			<fieldset>
			  <legend>Join the discussion:</legend>
			  <div style="padding-left: 1%; padding-top: 10px; padding-bottom: 15px;">
        <br/>
			  <label for="userNameText" style="padding-left: 5px; display: inline-block; color: #000; font-size: 18px;">Your name or Twitter handle:</label>
			  <input id="userNameText" type="text" class="required" minlength="2" placeholder="@carlosble">
        <br/>
			  <input type="submit" class="btn" value="Go!"></input>
			  </div>
			</fieldset>
			</form>
      </div>
  </div>
</div>
</div>
<p style="margin-left: 100px">
This tool has been carefully crafted by Carlos Ble, get the source code here:
http://www.bitbucket.org/carlosble/instantcodewiki
</p>
</div>
</body>

</html>
